certifi==2024.7.4
charset-normalizer==3.3.2
duckdb==1.0.0
git+ssh://git@github.com/MatteoLacki/furious_fastas.git@113665a#egg=furious_fastas
idna==3.7
llvmlite==0.43.0
networkx==3.3
numba==0.60.0
numba-progress==1.1.0
numpy==2.0.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
tzdata==2024.1
urllib3==2.2.2
